<div class="container">

    <div class="log-in">
        <h1 class="form-title">Welcome</h1>
        <a href="/login" class="homeBtn">Log In</a>
        <a href="/signup" class="homeBtn">Sign Up</a>
    </div>

</div>
