<div class="container">

  <div class="log-in">
      <h1 class="form-title">Log In</h1>
      <form action="/login" method="POST" class="form" autocomplete="off">
          <!-- <input type="email" name="email" placeholder="Enter your Email..." class="input-field"> -->
          <input type="text" name="username" placeholder="Enter your username..." class="input-field">
          <input type="password" name="password" placeholder="Enter Your password..." class="input-field">
          <button class="btn">Log In</button>
      </form>

      <p>Don't have an account yet? <a class="link" href="./signup">Sign Up Now</a></p>
  </div>

</div>
