<div class="container">

    <div class="sign-up">
        <h1 class="form-title">Sign Up</h1>
        <form action="/signup/add" method="POST" class="form" autocomplete="off">
            <input type="text" name="data[username]" placeholder="Enter your username..." class="input-field" required>
            <input type="text" name="data[name]" placeholder="Enter your name..." class="input-field" required>
            <input type="text" name="data[lastName]" placeholder="Enter your last name..." class="input-field" required>
            <input type="email" name="data[email]" placeholder="Enter your Email..." class="input-field" required>
            <input type="password" name="password" placeholder="Enter Your password..." class="input-field" required>
            <button class="btn" type="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a class="link" href="./login">Log In Now</a></p>
    </div>

</div>
