/* ===============================
CSS Reset down below
============================== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

hr {
  margin: 5px 0 10px 0;
}

/* ======= Custom styles ======= */
body {
  font-family: raleway,sans-serif;
  background: #3898d2;
  background: -webkit-gradient(linear, left top, right top, from(#3898d2), to(#4fb4a4));
  background: linear-gradient(90deg, #3898d2 0%, #4fb4a4 100%);
}

.homeBtn {
  display: block;
  margin-top: 20px;
  background: #3898d2;
  min-width: 200px;
  padding: 3px;
  color: #fff;
  height: 40px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 10px;
}

.homeBtn:hover {
  opacity: 0.9;
}

.container {
  width: 100%;
  padding: 50px 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.log-in, .sign-up {
  padding: 40px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.log-in p, .sign-up p {
  font-size: 0.8rem;
}

.log-in .link, .sign-up .link {
  color: #c00;
  font-weight: 700;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.input-field {
  display: block;
  margin-bottom: 20px;
  background: none;
  border: none;
  height: 40px;
  border: 1px solid #888;
  padding: 10px;
  width: 300px;
  font-family: inherit;
  font-size: inherit;
}

.btn {
  height: 40px;
  display: block;
  width: 100%;
  background: #3898d2;
  border: none;
  color: #f4f4f4;
  font-family: inherit;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.btn:hover {
  opacity: 0.9;
}

.user-info {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  border-radius: 5px;
}

.user-info p {
  line-height: 1.8;
}

.user-info form {
  display: inline-block;
}

.wlcm-txt {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.pic img {
  max-width: 150px;
}

.user-details {
  font-weight: bold;
}

.user-details span {
  font-weight: normal;
}

.all-users-info {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  border-radius: 5px;
  margin-top: 40px;
}

.all-users-info p {
  line-height: 1.8;
}

.all-users-info form {
  display: inline-block;
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
}

.table-wrapper .btn-link {
  margin: 0;
}

table, td, tr, th {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

tr {
  height: 40px;
}

th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.btn-link {
  display: inline-block;
  margin-top: 20px;
  background: #3898d2;
  padding: 5px;
  color: #fff;
  height: 30px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0.9rem;
}

.btn-link:hover {
  opacity: 0.9;
}

.delete {
  min-width: 110px;
  background-color: #f45b69;
  border: none;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .user-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user-info .info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container {
    width: 90%;
  }
  .input-field {
    width: 100%;
  }
  .all-users-info {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */